<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>word-project</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <main>
        <nav>
            <a href="/"><span class="logo">NAPSE</span></a>
            <a href="/manage">관리</a>
            <a href="/test">시험</a>
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>